body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    /* background-color: #e2e8f02e !important; */
    /* background-color: #15134a !important; */
    /* background-color: #FFDEE9; */
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%) !important;

  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
