
.boxText{
  padding: 40px;
}
.boxText button{
  margin-top: 20px;
  margin-right: 25px;
}
.boxText span{
  color: rgba(253, 66, 66, 0.986);
}
.boxText button{
  /* box-shadow: 1px 1px 60px 10px  rgb(248, 152, 152); */
}
.boxText h1 {
  color: #010101;
}
.boxText h5 {
  color: #666;
}

.boxImage {
  text-align: center;
}
.iconPrincipal{
  font-size: 15em;
  color: black;
}

.btnSeeMore {
  margin-bottom: 20px;
  margin-top: 10px;
  /* box-shadow: 1px 1px 60px 10px  rgb(195, 195, 195); */
}
.featureItems{
  margin: 0 auto;
}
.topArtists{
  margin: 0 auto;
  margin-top:60px;
}

.cardBody{
  
  background-image: linear-gradient(100deg, #FFDEE9 0%, #B5FFFC 100%) !important;
  color: #010101;  
  box-shadow: 1px -2px 25px 1px rgba(0, 0, 0, .3);
  border-left: 5px solid #0D6EFD;
}


.cardBody a{
  color: #010101;
  text-decoration: none !important;
}
.cardBody small {
  color: #010101 !important;
}
.cardFeature {
  box-shadow: 2px -5px 30px 1px rgba(0, 0, 0, .3);
  border-radius: 15px;
}
.cardBodyFeature p{
  font-size: 14px;
  margin: 1px;
  font-style: italic;
}